*{
  margin: 0;
  padding: 0;
  text-decoration:none; 
  list-style:none;
  box-sizing: border-box;
  color: white;  
  background-color: black;
  font-family: 'Roboto', sans-serif;
}
::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-track {
  background-color: white;
  box-shadow: inset 1px 1px 5px black; 
  border-radius: 5px;
}
::-webkit-scrollbar-thumb {
  background: rgb(248, 75, 12); 
  border-radius: 5px;
}
::-webkit-scrollbar-thumb:hover {
  background:  white; 
}
body, html{
  height: 100%;
  background-color: white;
  overflow: hidden;
}
.nav-container{
  width: 100%;
  height: auto;
  display:flex;
  justify-content: space-between;
  align-items: center;
  height: auto;
}
.logo-container{
  margin-left:10px;
}
.logo-container h1, span{
  font-family: 'Noto Sans TC', sans-serif;
  font-size: 3vw;
  letter-spacing: 1px;
}
.logo-container span{
  color: rgb(248, 75, 12);
}
.logo-container h1 :hover{
   color: white;
   transition: .4s ease-in-out;
}
.navlink-container{
  margin-right: 30px;
  height: auto;
}
.nav-links li{
  display: inline;
  
}
.nav-links a{
  padding: 20px;
  font-family: 'Noto Sans TC', sans-serif;
  font-size: 1vw;
  transition: .4s ease-out;
}
 .nav-links li a:hover{
  color: rgb(248, 75, 12); 
}
.ham-container{
  display: none;
}
.ham-navlink-container{
  display: none;
}

.main-container{
  width: 100%;
  height: 100vh;
  background-color:white;
}
.top-content{
  display: flex;
  flex-direction: column;
}
.content1 h1{
  background-color: white;
  font-family: 'Noto Sans TC', sans-serif;
  text-align: center;
  color: black;
  font-size: 3vw;
  letter-spacing: 2px;
  padding-top: 40px;
}
.content2{
  position: relative;
}
.content2 h4{
  background-color: transparent;
  font-family: 'Noto Sans TC', sans-serif;
  text-align: center;
  color: rgb(248, 75, 5);
  position: absolute;
  left: 46%;
  padding:0px 10px;
}
.content2 h4:before{
  content: "";
  position: absolute;
  right: 98%;
  top:51%;
  background-color:black;
  width: 20px;
  height: 3px;
}
.content2 h4:after{
  content: "";
  position: absolute;
  left: 98%;
  top:51%;
  background-color:black;
  width: 20px;
  height: 3px;
}
.bottom-container{
  width: 100%;
  background-color:white;
  display: flex;
}
.image-container2{
  display: none;
}
.image-container{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color:white;
  height: 100vh;
  width: 55%;
}
.image-container img{
  background-color: #181818;
  background-size: contain;
  width: 60%;
  height: 50vh;
  border-radius: 20px;
  padding-top: 10px;
  margin-bottom: 100px;
  transition: .5s ease-in-out;
}
.image-container img:hover{
  box-shadow:4px 4px 5px gray;
}
.text-container{
  width: 50%;
  background-color:white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.text{
  background-color:white;
  margin-bottom: 130px;
}
.text-container h1{
  background-color: inherit;
  color: #000;
  font-family: 'Noto Sans TC', sans-serif;
  font-size: 2vw;
  padding-bottom:10px;
}
.text-container span{
  background-color: inherit;
  color: rgb(248, 75, 12);
  font-size: 2vw;
  font-weight: bold;
}
.text h3{
  letter-spacing: 1px;
  word-spacing: 4px;
  line-height: 25px;
  font-family: 'Roboto', sans-serif;
  background-color:white;
  color: #0d0d0d53;
}
.button-container{
  position: relative;
}
.text button{
  position: absolute;
  margin-top: 20px;
  width: 13%;
  height: 3vh;
  border: none;
  border-radius: 5px;
  background-color: #181818;
  color:white;
  font-family: 'Noto Sans TC', sans-serif;
  font-weight: bold;
  letter-spacing: 1px;
  transition: .5s ease-in-out;
}
.text button:hover{
   background-color: rgb(248, 75, 5);
   color: white;
   width: 15%;
   height: 4vh;
}
@media only screen and (max-width: 1024px){
body{
  overflow: auto;
}
  .nav-container{
    justify-content: space-evenly;
}
.logo-container h1,span {
    font-size: 6vw;
    margin: 0;
}
.nav-links li{
    display: none;
}
.ham-container{
    display: inline;
}
.ham-container h1{
    font-size: 5vw;
}
.ham-navlink-container.toggleCls{
  display: block;
  width: 100%;
}
.ham-navlink-container{
  position: relative;
}
.ham-nav-links{
  display: block;
  width: 100%;
  position: absolute;
  left: 0px;
  right: 0px;
  z-index: 1;
}
.home{
  border-top: 1px solid rgb(248, 75, 12);
}
.ham-nav-links li{
  text-align: center;
  padding: 8px;
  border-bottom: 1px solid rgb(248, 75, 12); 
  background-color: black;
  opacity: 5;
  width: 100%;
}
.ham-nav-links a{
   font-family: 'Noto Sans TC', sans-serif;
   font-size:3vw;
   font-weight: bold;
}
.main-container{
  height: auto;
}
.top-content{
  margin-bottom: 50px;
}
.content1 h1{
  font-size: 10vw;
}
.content2 h4{
  font-size: 3vw;
  left: 32%;
}
.content2 h4:before{
  width: 30px;
  height: 2px;
}
.content2 h4:after{
  width: 30px;
  height: 2px;
}
.bottom-container{
  display: flex;
  flex-direction: column;
}
.image-container{
display: none;
}
.image-container2{
  width: 95%;
  height: fit-content;
  margin-bottom: 20px;
  display: flex;
  margin-left: 10px;
  border-radius: 15px;
}
.image-container2 img{
  width: 100%;
  background-size: cover;
  background-color: #181818; 
  border-radius: 15px;
}
.text-container{
  display: flex;
  justify-content: center;
  width: 100%;
  height: auto;
  text-align: center;
}
.text-container h1{
  font-size: 4vw;
}
.text-container span{
  font-size: 4vw;
}
.text{
  margin: 0;
}
.text h3{
  font-size: 4vw;
  letter-spacing: 2px;
  line-height: 30px; 
  padding: 0px 10px;
}
.button-container{
  position: relative;
  background-color: transparent;
}
.text button{
  position: relative;
  width: 30%;
  height: 4vh;
  margin-bottom: 10px;
  font-size: 3vw
}
}